// Fonts
$main-font          : 'Indie Flower', cursive;
$page-font          : 16px;

// Colors
$backgroundColor    : #DCDEDA;
$headerBackground   : #64A52F;
$error              : #E93737;
$white              : #ffffff;

// Images