@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Pangolin");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  background-color: #DCDEDA;
  font-family: "Indie Flower", cursive;
  font-size: 16px;
}

/* general styles */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

/* header styles */
header {
  height: 100px;
  background-color: #64A52F;
}
header h1 {
  color: #fff;
  font-size: 3.5em;
  padding: 10px;
}

/* calculator positioning */
.cal-container {
  margin-top: 40px;
  text-align: center;
}

.calc-section {
  margin: 20px auto 0 auto;
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  background-color: #4385ef;
  -webkit-box-shadow: 0px 6px 0px 0px #1b67e1;
  box-shadow: 0px 6px 0px 0px #1b67e1;
}
.calc-section #calc-display {
  width: 280px;
  padding: 10px;
  text-align: right;
  border-radius: 5px 5px 0 0;
  color: #fff;
  background-color: #e7a61a;
  border: none;
  -webkit-box-shadow: inset 0px 4px 0px 0px #c88800;
  box-shadow: inset 0px 4px 0px 0px #c88800;
  margin-bottom: 5px;
}
.calc-section button {
  float: left;
  cursor: pointer;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 9px;
  border: none;
  outline: none;
  width: 71.2px;
  color: #fff;
  background-color: #72CB6B;
  -webkit-box-shadow: 0px 4px 0px 0px #188e0f;
  box-shadow: 0px 4px 0px 0px #188e0f;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.calc-section button:hover {
  background-color: #4C9A45;
  -webkit-box-shadow: 0px 4px 0px 0px #15720c;
  box-shadow: 0px 4px 0px 0px #15720c;
}
.calc-section button:active {
  -webkit-box-shadow: 0px 0px 0px 0px #15720c;
  box-shadow: 0px 0px 0px 0px #15720c;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}
.calc-section .operator {
  background-color: #FC8B59;
  -webkit-box-shadow: 0px 4px 0px 0px #f46729;
  box-shadow: 0px 4px 0px 0px #f46729;
}
.calc-section .operator:hover {
  background-color: #F17137;
  -webkit-box-shadow: 0px 4px 0px 0px #e34702;
  box-shadow: 0px 4px 0px 0px #e34702;
}
.calc-section .operator:active {
  -webkit-box-shadow: 0px 0px 0px 0px #e34702;
  box-shadow: 0px 0px 0px 0px #e34702;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}
.calc-section .top-row-buttons {
  width: 96.67px;
  background-color: #e55765;
  -webkit-box-shadow: 0px 4px 0px 0px #d12b3c;
  box-shadow: 0px 4px 0px 0px #d12b3c;
}
.calc-section .top-row-buttons:hover {
  background-color: #E64252;
  -webkit-box-shadow: 0px 4px 0px 0px #cc172a;
  box-shadow: 0px 4px 0px 0px #cc172a;
}
.calc-section .top-row-buttons:active {
  -webkit-box-shadow: 0px 0px 0px 0px #cc172a;
  box-shadow: 0px 0px 0px 0px #cc172a;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

/* calculator displays */
#previous-display {
  width: 300px;
  padding: 5px;
  height: 40px;
  font-size: 16px;
}

::-webkit-input-placeholder {
  color: #fff;
}

/* calculator buttons */
button, input {
  font-family: 'Pangolin', cursive;
  font-size: 1.2em;
}

.no-margin {
  margin-right: 0 !important;
}

.bottom-row-buttons {
  float: right !important;
  margin-bottom: 5px !important;
  border-radius: 0 0 5px 5px;
}

.bottom-row-buttons1 {
  margin-bottom: 5px !important;
  border-radius: 0 0 5px 5px;
}

#sum-section {
  margin-top: 40px;
}
#sum-section #current-sum {
  font-size: 2em;
  text-align: center;
}
#sum-section #current-sum span {
  font-size: 4em;
}

.stickmen-one {
  position: absolute;
  top: 200px;
  left: 90px;
}

/* social media sidebar */
.social-media-aside {
  position: fixed;
  top: 250px;
  right: 0;
}
.social-media-aside .sticky-media a {
  float: right;
}
.social-media-aside .sticky-media li {
  padding: 15px;
  width: 26px;
}
.social-media-aside .sticky-media li span {
  position: absolute;
  right: -100px;
  -webkit-transition: right 1s ease;
  transition: right 1s ease;
  color: #fff;
  font-size: 1.4em;
}
.social-media-aside .sticky-media .fb-icon {
  background-color: #4267b2;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}
.social-media-aside .sticky-media .fb-icon i {
  color: #fff;
}
.social-media-aside .sticky-media .fb-icon:hover {
  width: 180px;
}
.social-media-aside .sticky-media .fb-icon:hover span {
  right: 40px;
}
.social-media-aside .sticky-media .twitter-icon {
  background-color: #55acee;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}
.social-media-aside .sticky-media .twitter-icon i {
  color: #fff;
}
.social-media-aside .sticky-media .twitter-icon:hover {
  width: 180px;
}
.social-media-aside .sticky-media .twitter-icon:hover span {
  right: 40px;
}
.social-media-aside .sticky-media .linkedin-icon {
  background-color: #007bb5;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}
.social-media-aside .sticky-media .linkedin-icon i {
  color: #fff;
}
.social-media-aside .sticky-media .linkedin-icon:hover {
  width: 180px;
}
.social-media-aside .sticky-media .linkedin-icon:hover span {
  right: 40px;
}
.social-media-aside .sticky-media .github-icon {
  background-color: #000;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}
.social-media-aside .sticky-media .github-icon i {
  color: #fff;
}
.social-media-aside .sticky-media .github-icon:hover {
  width: 180px;
}
.social-media-aside .sticky-media .github-icon:hover span {
  right: 40px;
}
.social-media-aside .sticky-media .email-icon {
  background-color: #38B9AC;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}
.social-media-aside .sticky-media .email-icon i {
  color: #fff;
}
.social-media-aside .sticky-media .email-icon:hover {
  width: 180px;
}
.social-media-aside .sticky-media .email-icon:hover span {
  right: 40px;
}
.social-media-aside .sticky-media .portfolio-icon {
  background-color: #FF5733;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}
.social-media-aside .sticky-media .portfolio-icon i {
  color: #fff;
}
.social-media-aside .sticky-media .portfolio-icon:hover {
  width: 180px;
}
.social-media-aside .sticky-media .portfolio-icon:hover span {
  right: 40px;
}

/* footer styles */
.page-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.page-footer #copyright-notice {
  font-size: 1.1em;
  font-weight: normal;
  padding: 10px;
}
